<form ng-submit="submit()" name="register" class="form-signin">
  <h1 class="form-signin-heading text-muted">Register</h1>
  <input autofocus="" class="form-control" placeholder="Email address" required="" type="email" name="email" required>
  <input class="form-control" placeholder="Password" required="" type="password" name="password" required>
  <input class="form-control" placeholder="Confirm password" required="" type="password" name="password_confirm" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">
    Submit
  </button>
</form>
